*{
    font-family: 'Varela Round', sans-serif;
    margin: O auto;
    
}

body{
    background: #EBF2F5;
}

/* fixel header */
#site-header{
    top: 0;
    width: 100%;
    height: 110px;
    position: fixed;
    transition: all .3s ease;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}
/* css for header hiding and showing */
#site-header.hide{
    top: -117px;
}

.img_logo_header{
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.container_input span{
    border-radius: 30px;
}

.container_input input{
    border-radius: 30px;
}
/* button category */
#listview-category {
    display: none;
    position: relative;
    top: -25px; 
}


#listview-category .iconify.ml-2.mr-5{
    color: #e94560;
}
#listview-category  li:hover .iconify.ml-2.mr-5{
    color: #ffffff;
}
#listview-category  li:hover{
    color: #ffffff;
}
#listview-category  li:hover{
    background-color: #e6a7ad;
    opacity: 1;
}

/* button for user */

/* user btn */
#btn-cart , #btn-user02{
    width: 45px;
    height: 45px;

}
.btn_cart , .btn_user{
    background-color: #DF2F4C;
}

#listview-user{
    display: none;
}
#listview-user{
    position: relative;
    margin-top: -20px;
    top: -5px;
    right: -10%;
}
#listview-user li{
    border: none;
    background: #fcd0d0;
    color: #dc3545;
}
#listview-user li:hover{
    background: #ffffff;
    color: #dc3545;
}

@media only screen and (max-width: 767px) {
    #listview-user{
        position: relative;
        margin-top: 10px;
        width: 100%;
    }
}

/* menu header */
.container_menu_header ul li{
    list-style-type: none;
}

.container_menu_header{
    padding-bottom: 20px;
}

/* Part 2: Main */
.main-home{
    height: 5000px;
    /* background-color: #e6a7ad; */
    position: relative;
    top: 120px;
}
/* Part 2.1: Search filter */
.main-home .search_filter {
    font-size: 13px;
    background-color: rgb(250, 250, 240);
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: rgb(182, 178, 174, 0.2) 1px 1px;
    justify-content: space-between;
}
 .main-body {
    font-size: 15px;
 }
/* Part 2.2.1: Service-left */
.main-body .service_left{
    
    width: 250px;
    height: 1000px;
    border-radius: 5px;
    background-color: rgb(250, 250, 240);
}
.main-body .service_left li{
    color: #464444;
    background-color: transparent;
}
.main-body .service_left li .iconify.ml-2.mr-5{
    color: #464444;
}
.main-body .service_left li:hover .iconify.ml-2.mr-5{
    color: #dc3545;
}
.main-body .service_left li:hover   {
    background-color: #ffdce0;
    color: #dc3545;
}