:root {
    --0-color-button: #E94560;
    --color-gray: #7A7873;
    --color-star: #FFCD4E;
}

.button_of_this_page {
    box-shadow: 0px 0px 12px -5px #000000;
    border-radius: 9px;
    font-size: 20px;
    color: white;
    background-color: var(--0-color-button);
}

.color-gray {
    color: var(--color-gray);
}

.color-buttom {
    color: var(--0-color-button);
}


/* font-size */

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.mg_top_50 {
    margin-top: 50px;
}

.mg_top_40 {
    margin-top: 40px;
}

.mg_top_30 {
    margin-top: 30px;
}

.mg_top_20 {
    margin-top: 20px;
}

.mg_top_10 {
    margin-top: 10px;
}


/* Text */

.text_bold {
    font-weight: bold;
}


/* abc xyz */

.container-profile-voucher {
    width: 89%;
    margin: auto;
}

.path :first-child {
    color: var(--0-color-button)
}

.path {
    font-size: 20px
}


/* Silde */

.carousel-inner {
    border-radius: 10px;
}

.carousel-indicators li img {
    border-radius: 10px;
}


/* DETAIL */

#store_name {
    font-size: 17px;
    font-weight: bold;
}

#unit_price {
    font-size: 25px;
    color: var(--0-color-button);
}

#list-star-rated {
    display: inline-block;
}

#list-star-rated #stars {
    display: inline-block;
    color: var(--color-star);
}

#emaining_amount {
    font-size: 17px;
    margin-left: 20px
}

.date-time {
    margin-left: 15px;
    font-size: 18px;
}

#button_add_cart {
    margin-top: 50px;
    width: 160px;
    height: 56px;
}


/* Descriptsion */

#see_more {

    
    width: 211px;
    height: 50px;
}
.center {
    width: 211px;
    height: auto;
    margin: auto;

}



#detail-description {
    margin-top: 20px;
    border: #DF2F4C 1px solid;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
}

#detail-description .event:first-child{
    font-size: 24px;color: #DF2F4C;font-weight: bold; 

}
#detail label{
    font-size:20px;font-weight:bold
    ;color: #000000;
    
    }



/* Rating */
.col-left b{
    color: #FFCD4E;font-size: 24px;  
}
.col-right button{

    margin: 10px;
    color: #DF2F4C;background-color: white; width: 100px;height: 40px;font-size:
                                18px;
                                margin-top:20px;

}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #dropdown{
        display: block;
    }
  }






/* short-description */

.short-description {
    padding-top: 15px;
    padding-left: 5%;
}

.btn:hover {
    color: white;
}





/* COMMENT */
#comment{
    width: 100%;  
}


.item-comment{
    margin-top:25px

}


.box-around{
    width: 92%;margin: auto;
}

/* footer */
/* Footer */
.container-fluid.footer {
    margin: auto;
    background-color: #0F3460;
    position: relative;
    top: 150px;
}

.row.row_footer {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.frame {
    height: 100%;
    width: 80%;
}

.logo_footer {
    width: 80%;
    height: 180px;

}

.text-uppercase {
    margin-top: 20px;
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 20px;
}

.text_reset {
    font-family: 'Varela Round', sans-serif;
    color: #AEB4BE !important;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.footer_icon {
    height: 20px;
    margin-bottom: 20px;
}

.footer_icon a, .footer_icon a:hover {
    text-decoration: none;
}

.footer_icon .iconify {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    color: white !important;
}

.footer_icon .iconify:hover {
    opacity: 0.6;
}

.contract, .aboutus, .image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .category-list-col {
        margin: 7px 0;
    }

    .category-list-row {
        margin-top: 0px;
    }

    .contract, .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image {
        display: none;
    }
}